[2020-02-07 15:57] TimidRobot opened #2 "Need Intern/GSoC/Outreachy tag"
## Problem Description
We need Intern/GSoC/Outreachy tag so that they repositories that will have issues tagged that way will have consistent tags.

Tags are maintained in [`normalize_repos/labels.py`](https://github.com/creativecommons/ccos-scripts/blob/master/normalize_repos/labels.py)

CC: @annatuma, @kgodey

[2020-02-24 17:43] kgodey commented on #2
We're just going to use "help wanted" for this.

[2020-02-24 20:33] kgodey opened #4 "Set up GitHub Actions to run the generate project pages script every day"
## Problem Description
We currently use AWS Lambda to run the generate project page script, but it's set up manually and is probably unnecessary. It's also hard to add new dependencies to the environment.

We do want the script run every day so that the projects page is always up to date.

## Solution Description
Set up a GitHub Actions workflow in this repo to run the script every day.

## Additi

[2020-02-24 20:36] kgodey opened #5 "Set up GitHub Actions to run the normalize repos script every day"
## Problem Description
The normalize repos script is only run manually currently. We want it to automatically run so that our GitHub repos are always up to date with the latest labels and settings.

## Solution Description
Set up a GitHub Actions workflow in this repo to run the script every day.

## Additional context
- [GitHub Actions documentation](https://help.github.com/en/actions)
- Please i

[2020-02-24 21:02] AyanChoudhary commented on #5
My PRs are completed and have their reviews pending. So can I take this while I await the reviews?

[2020-02-24 21:03] kgodey commented on #5
Yes, go ahead.

[2020-02-25 01:02] akmadian opened #7 "Add meta label?"
## Problem Description

Adding a label in the [normalize_repos](https://github.com/creativecommons/ccos-scripts/tree/master/normalize_repos) script for issues that are meant to track a meta discussion or larger goal rather than a specific issue or feature, or an issue representing a large task that's meant to track several smaller tasks. I don't think there's any label that quite covers this exact

[2020-02-25 02:51] ritiktaneja commented on #4
I would like to work on this issue.

[2020-02-25 16:07] AyanChoudhary opened #8 "Update README in /normalize_repos with new script name"
## Describe the bug
The instructions in README mention standardize_label.py whereas the correct script name is normalize_repos.py

[2020-02-25 16:08] AyanChoudhary commented on #7
This looks like something I can do along with writing the workflow(which I am doing currently). So can I take it?

[2020-02-25 17:00] kgodey commented on #7
I'd rather let someone else work on it to give more people an opportunity to contribute.

I think `meta` is fine.

[2020-02-25 17:10] kgodey commented on #8
Thanks for catching this!

[2020-02-25 17:11] kgodey commented on #4
@ritiktaneja go ahead.

[2020-02-25 17:14] #2 closed

[2020-02-25 19:17] keshav2212 commented on #7
I want to work on this. Can I take this?

[2020-02-26 16:55] cristomathew commented on #8
is it still open?

[2020-02-26 18:17] pavitra14 commented on #8
I would like to solve this issue if no one is doing it :)

[2020-02-26 18:19] cristomathew commented on #8
It's solved if I am not wrong.

[2020-02-26 21:07] kgodey commented on #8
It is not yet solved, go ahead @pavitra14. This is for the README inside the folder, not the main project README.

[2020-02-27 00:00] #7 closed

[2020-02-27 10:53] sp35 commented on #4
@ritiktaneja are you working on this issue?

[2020-02-28 16:56] #8 closed

[2020-03-02 20:08] kgodey commented on #4
Since there's been no activity for a week, I'll reassign to @sp35.

[2020-03-03 16:22] #5 closed

[2020-03-05 13:27] sp35 commented on #4
Found ```Gitpython``` but using it requires changes where commands from ```lambda-git ``` package are being used. Am I in the right direction?

[2020-03-05 14:30] kgodey commented on #4
@sp35 that's fine!

[2020-03-09 16:09] akmadian opened #17 "Add "awaiting triage" label"
## Problem Description

When doing issue triage, it's hard to tell the difference between issues that have not been triaged, and as such, are marked as `not ready for work`, and issues that have been triaged, but actually are not ready for work.

## Solution Description

We could add an `awaiting triage` label as default to issue templates.

## Alternatives

We could use `blocked` for what we're c

[2020-03-11 20:55] kgodey commented on #17
That sounds good to me. We'll need to add the label here and then update the issue templates in the following repos:
https://github.com/creativecommons/.github
https://github.com/creativecommons/cccatalog

[2020-03-11 21:26] #4 closed

[2020-03-14 04:16] krysal commented on #17
I can work on this @kgodey @akmadian, what exactly its need to be done on this repo? I guess that in the others two, labels of `.github/ISSUE_TEMPLATEs/*.md` should be modified, am I right?

[2020-03-14 13:22] achilep commented on #17
hello are you still working on it? if not i will like to work on it.

[2020-03-15 20:10] akmadian commented on #17
@achilep it seems like @krysal got to it first, you can find other issues to work on [here](https://github.com/search?q=org%3Acreativecommons+is%3Aissue+is%3Aopen+label%3A%22help+wanted%22) :)

@krysal, you'll need to add the label to `./normalize_repos/labels.py`, then create an issue in [creativecommons/.github](https://github.com/creativecommons/.github) to update the default issue template, an

[2020-03-15 20:23] krysal commented on #17
Thanks @akmadian! working on it.

[2020-03-16 06:16] achilep commented on #17
No problem @akmadian and @krysal

[2020-03-16 14:17] krysal commented on #17
Tasks done @akmadian, waiting for review on #21 (@kgodey).
creativecommons/.github#5
creativecommons/cccatalog#329

Now you can work on one of those @achilep, are good first issues.

[2020-03-17 17:30] #17 closed

[2020-03-19 19:31] kgodey opened #23 "Create GitHub workflow to automatically put community PRs on CC Search repos in the correct project"
## Problem Description
Pull requests from the community (anyone other than CC staff) on CC Search related repos need to be moved to the "In Progress (Community)" column in the [Active Sprint – CC Search](https://github.com/orgs/creativecommons/projects/7) project.

## Solution Description
We need to create a GitHub workflow in this repo that runs every hour and checks for PRs on the CC Search rela

[2020-03-19 19:36] subhamX commented on #23
I would like to work on this. Can you please assign this to me?

[2020-03-19 19:39] kgodey commented on #23
@subhamX per our new [contribution guidelines](https://opensource.creativecommons.org/contributing-code/), we are no longer assigning things to people if they are marked "help wanted", anyone is welcome to send a PR without permission.

[2020-03-20 07:48] RachealN commented on #23
I am taking up this issue too

[2020-03-20 07:48] subhamX commented on #23
Oh! Sorry for my last comment, I wasn't aware of it.

Anyhow, I searched for actions in the marketplace which satisfies the above requirements but wasn't able to find one. Should I build a new  GitHub Action using JavaScript using GitHub APIs, which first fetch all pull requests that are created an hour ago and then update the Project Dashboard.

[2020-03-20 08:35] taran1515 commented on #23
But for updating the Project Dashboard, you need to check if the pull request has been made by  member outside the organization.

Is there any way to get it using Github Action?
I couldn't find one.

[2020-03-20 15:28] kgodey commented on #23
You don't need to check whether the pull request has been made by someone outside the organization, PRs made by people in the organization will automatically be moved to the correct project. You just need to make sure that the PR does not already have a project associated with it.

@subhamX sure, that would be fine.

[2020-03-23 09:42] subhamX commented on #23
Hey @kgodey, Sorry for referencing this issue multiple time, in my initial commits the added workflow wasn't triggering on the actions dashboard that's why I pushing the code multiple times. It was a silly mistake from my side as I had changed the Cron Expression and also the credentials were invalid. Anyhow, I have created the GitHub action with the above functionality. Took a lot of time to test

[2020-03-26 15:52] #23 closed

[2020-03-29 16:53] subhamX opened #25 "Update Documentation"
The added workflow which "Add Community PRs to Project" information is not updated to the README.

[2020-03-30 18:44] dhruvkb opened #26 "Vocabulary repo tasks are inconsistently named"
## Describe the bug
The unit test task in Vocabulary is named `test`, and a functionally identical task in Vue Vocabulary is named `unit`.

## Expected behavior
Two tasks that performs the same function should be named the same for consistency. The name `unit` for unit tests seems to be a good one.

[2020-03-30 18:54] dhruvkb opened #27 "Constants should be defined in separate files"
While labels are neatly placed in their own file, the other constants are still put in with the main source code.

https://github.com/creativecommons/ccos-scripts/blob/8e234c07b6f9aa3fc861bd03aa0d2e4593b0602b/normalize_repos/normalize_repos.py#L17
https://github.com/creativecommons/ccos-scripts/blob/8e234c07b6f9aa3fc861bd03aa0d2e4593b0602b/normalize_repos/normalize_repos.py#L46

The main benefit t

[2020-04-01 15:20] #25 closed

[2020-04-01 19:12] kgodey opened #29 "Add Community PR action shows error when PR is in project"
## Problem Description
The "add community PR" workflow shows an error when a PR is already in a project e.g.

`Error while adding Pull Request Card To Column [Project already has the associated issue]`

(See: https://github.com/creativecommons/ccos-scripts/runs/552801037?check_suite_focus=true)

## Solution Description
PRs that are already in a Project should not be added to a project at all, and

[2020-04-01 19:12] kgodey commented on #29
@subhamX would you be able to work on this?

[2020-04-01 19:18] kgodey opened #30 "Issue with Git push permissions in generate project pages script"
## Problem Description
The `git push` action in the Generate Project Pages action is not working because of authentication issues. The `push` command from `GitPython` does not use the credentials supplied earlier in the file.

See https://github.com/creativecommons/ccos-scripts/runs/550457801?check_suite_focus=true for example.

## Solution Description
`origin.push()` should use the credentials th

[2020-04-01 19:18] kgodey commented on #30
@sp35 are you interested in working on this?

[2020-04-01 19:31] sp35 commented on #30
@kgodey Interested!

[2020-04-02 07:25] subhamX commented on #29
Hi @kgodey , thank you for pointing this issue and giving this opportunity to me. I will ensure that in case the PR is already linked with the Project then nothing is printed on the console. I will update the release as soon as possible.

[2020-04-02 13:52] subhamX commented on #29
@kgodey I have fixed the issue and have updated the release tag.

[2020-04-02 13:59] kgodey commented on #29
looks good, @subhamX! thank you! :)

[2020-04-02 13:59] #29 closed

[2020-04-02 14:00] kgodey commented on #30
@sp35 thank you!

[2020-04-02 14:10] sp35 commented on #30
@kgodey Although, it's obvious that it's lacking credentials at https://github.com/creativecommons/ccos-scripts/runs/550457801?check_suite_focus=true

However, I couldn't replicate it, when testing on my fork https://github.com/sp35/creativecommons.github.io-source/commits/master

Possibly we can try the equivalent of
```git push --repo <GITHUB_REPO_URL_WITH_CREDENTIALS>```

maybe ```repo.git.push

[2020-04-02 17:03] sp35 commented on #30
@kgodey Please check if there is an issue with the secret ADMIN_GITHUB_TOKEN. Was the token changed recently and unchanged in the secrets of this repository?

I tested it against the fork of my repo and I was able to push after setting up the secret.

Please do let me know if the problem persists.

[2020-04-02 21:45] kgodey commented on #30
@sp35 what permissions did you use when you set up your secret?

[2020-04-02 22:06] sp35 commented on #30
Access to public repo only.

FYI I had to skip the part where we collect data from all repositories of CC as I was testing on my fork (my name isn't an org), which is justified as there was an issue with the push command, which worked!

[2020-04-03 17:26] kgodey commented on #30
I've verified that the token has access to push to all public and private repos. It's also the same token used for the normalize repos script, which updates repo information fine (and that's working correctly).

[2020-04-06 17:30] kgodey commented on #30
There is still an authentication error: https://github.com/creativecommons/ccos-scripts/actions/runs/72019007

[2020-04-06 18:54] sp35 commented on #30
This wasn't expected. I'll look into it.

[2020-04-06 19:24] #26 closed

[2020-04-06 20:04] dhruvkb commented on #26
@kgodey these task names are not correct:
![Screen Shot 2020-04-07 at 01 31 50](https://user-images.githubusercontent.com/16580576/78599992-bb760b80-786f-11ea-8f07-e234da98a62b.png)

You might want to revert this PR and reopen the issue.

[2020-04-07 19:20] sp35 commented on #30
Just a single change, i.e. the organization, the code works. https://github.com/sp35/ccos-scripts/commit/e2d148d03bb289a15bc384f5833aa9677e502765

Tests ok - https://github.com/sp35/ccos-scripts/runs/568573407?check_suite_focus=true

Pushed commit - https://github.com/sp35/creativecommons.github.io-source/commit/43473392f3571633a4a99be365213569a679cd33?diff=split

Sad that I still couldn't figure

[2020-04-08 18:10] #27 closed

[2020-04-08 19:33] sp35 commented on #26
@kgodey This needs to be closed!

[2020-04-08 19:45] kgodey commented on #26
@sp35 it is closed.

[2020-04-08 19:47] kgodey commented on #30
That's very odd. I'll do some tests with the token when I have some time.

[2020-04-15 19:19] SaurabhAgarwala opened #36 "Error in README"
## Describe the bug

In the [README](../blob/master/README.md), under the section [Workflows](https://github.com/creativecommons/ccos-scripts/blob/master/README.md#workflows), it is mentioned that `generate_projects_page.yml` uses `normalize_repos` directory and `normalize_repos.yml` uses `generate_project_pages` directory.

## To Reproduce

1. Go to [Workflows](https://github.com/creativecommons/

[2020-04-15 20:01] #36 closed

[2020-05-19 01:57] sp35 opened #44 "Assign repo_data correctly to get empty slack keys"
[Generate Project Page Script](https://github.com/creativecommons/ccos-scripts/blob/65bf97cd2916cdc56a94465354d4350223c71586/generate_projects_page/generate_projects_page.py#L132)

This isn't actually an issue as it's fine to not have an empty slack key but the assignment made is meaningless, hence a reordering would be needed.

[2020-05-19 20:09] #44 closed

[2020-05-19 20:09] kgodey commented on #44
Thanks!

[2020-06-08 19:53] TimidRobot opened #48 "Also support "main" as default branch for repo normalization"
## Describe the bug

([1.1. Master-slave - Terminology, Power and Oppressive Language](https://tools.ietf.org/id/draft-knodel-terminology-00.html#rfc.section.1.1))

## Expected behavior

The [`normalize_repos/normalize_repos.py`](https://github.com/creativecommons/ccos-scripts/blob/master/normalize_repos/normalize_repos.py) script should be updated to support both `main` and `master` as the primar

[2020-06-09 13:02] kgodey commented on #48
Marking as blocked until we discuss this in the engineering meeting.

[2020-06-12 13:55] kgodey commented on #30
It appears I had the wrong token set up, updating the token seemed to fix it. I am still not sure _why_ the token didn't work, but I'll worry about that if it comes up again.

[2020-06-12 13:55] #30 closed

[2020-06-12 14:07] sp35 commented on #30
The first thing that I had suspected!
Ended up looking at a lot of similar errors but learned something, so nvm!

[2020-06-12 14:59] kgodey commented on #30
Yeah, I had tried switching the token then and nothing changed. :(

[2020-06-16 05:39] dhruvkb opened #52 "Add an 'accessibility' label for frontend repos"
## Problem
We need an `accessibility` label for the following repos:
- Vocabulary
- Vue Vocabulary
- Fonts
- CC Catalog API
- CC Open Source

There might be more repos that need it.

## Description
Tickets related to accessibility can be tagged with this label for ease-of-classification.

## Alternatives
I'd prefer a label like `aspect:a11y` for consistency with the labelling scheme in Vocabulary

[2020-06-16 05:43] dhruvkb commented on #52
**Update:** CC Catalog API already an accessibility label.

This is related to creativecommons/vocabulary#454 and creativecommons/vocabulary#455. Tagging @AyanChoudhary, the original reporter of these issues.

[2020-06-17 19:59] kgodey commented on #52
Let's just use `accessibility` for consistency, and let's implement it for all repos.

[2020-08-05 14:22] dhruvkb opened #55 "Turn off the use of strict in protections"
## Problem
https://github.com/creativecommons/ccos-scripts/blob/c04583eafb6e0c1a94768f4c7c44ede92a16280e/normalize_repos/normalize_repos.py#L85

The use of the strict mode in branch protections requires any branch to be up to date against the main branch to be merged. This causes all the CI checks to run all over again and causes a lot of time to be wasted waiting for checks to pass. Ideally branc

[2020-08-05 14:28] #55 closed

[2020-08-14 18:19] dhruvkb opened #60 "Code organisation can be improved"
## Description
Currently the code in the repository is organised in directories on the basis of the GitHub Actions workflow they enable, each with its own Python environment and each independent of the other. This however does not take into account that multiple workflows may share code, utility functions and constants with each other.

For example in #58, a number of constants and functions were

[2020-08-14 19:03] dhruvkb opened #63 "Improvements to logging"
## Problem
Currently the workflow scripts, notably those in `push_data_to_ccos/` and `sync_community_team/` are riddled with `print()` statements serving the function of logging. While this is a perfectly workable solution, it is by no means elegant. Also the process of manually indenting the messages in the `print()` statements is messy and error-prone and makes for hard to comprehend logs.

## A

[2020-08-15 19:18] dhruvkb commented on #63
Just adding resources that might help anyone taking a shot at this issue.
- The Python library `curses` seems like a good solution to our indentation problem.
- Docker Compose wrote [a class](https://github.com/docker/compose/blob/b01601a53cc8839afbe332f00d0d1b8165012e7b/compose/parallel.py#L255) dedicated to handle log writes from parallel processes which involved writing to past lines.
- There a

[2020-09-01 05:35] ooyeraju opened #70 "Ordering of Roles under some projects"
## Description

Referring https://github.com/creativecommons/creativecommons.github.io-source/issues/481
On the Community Team page, the ordering of the roles under CC Catalog API and Community Building Teams seems to be in reverse order than all others (This is only the case with these two categories).
It looks a little inconsistent with the other Projects ordered differently.

## Reproduction

V

[2020-09-01 11:39] rohitgeddam commented on #52
Can i add the accessibility labels on them.

[2020-09-01 11:53] dhruvkb commented on #52
@kgodey I think we should put this issue in `blocked` until the new labels spec is finalised.

[2020-09-01 19:19] kgodey commented on #52
Agreed, we are making larger label changes.

[2020-09-02 17:56] #70 closed

[2020-09-04 18:45] kgodey commented on #52
We're not going to be doing this any more, we have a new set of standard labels that will soon be documented.

[2020-09-04 18:45] #52 closed

[2020-09-04 18:47] kgodey commented on #48
We're not taking any action on this until we have different default branches.

[2020-09-05 12:51] dhruvkb commented on #63
You can also use the logging system added as a part of #72.

[2020-09-06 00:40] avats-dev commented on #63
Taking up this one @dhruvkb! Might take some time for me to complete this.

[2020-09-06 00:44] avats-dev commented on #63
Also, I'm unable to open issues in this repo. Can you explain why?

[2020-09-06 00:46] dhruvkb commented on #63
@avats-dev creativecommons/.github#17 both explains and fixes the issue.

[2020-09-08 13:31] dhruvkb opened #76 "Exempt non-engineering repos from branch protection normalisation"
## Problem
Non-engineering repos, identified by `engineering_project` set to `false` in the [CC metadata file](https://opensource.creativecommons.org/contributing-code/github-repo-guidelines/#cc-metadata-file) present in each repo should not be subjected to branch protection normalisation in the [`normalize_repos`](https://github.com/creativecommons/ccos-scripts/blob/master/normalize_repos/normali

[2020-09-10 12:58] kgodey opened #78 "Switch all CC Open Source automation to using a bot token"
I need to set up a second account with admin permissions and 2FA to use for CC Open Source automation. Currently, automation is performed using my token and it's not clear what I do and what happens automatically.

Thanks to @dhruvkb for raising this.

[2020-09-10 15:09] zackkrida commented on #78
hm, did kriti or kriti-bot open this ticket? 🤔 🤖

[2020-09-10 17:23] kgodey commented on #78
This should be done.

[2020-09-10 17:23] #78 closed

[2020-09-13 12:58] sukhdeepg commented on #76
@kgodey I want to work on this issue, if ok, please assign this to me. Can you also please share information about the `ADMIN_GITHUB_TOKEN` and in what way will I be needing it for contribution?

[2020-09-14 08:01] dhruvkb commented on #76
@sukhdeepg the `ADMIN_GITHUB_TOKEN` is a [personal access token from GitHub](https://docs.github.com/en/github/authenticating-to-github/creating-a-personal-access-token) used for authentication against the GitHub API. It gives the client access to make changes to the repository settings.

[2020-09-14 08:30] sukhdeepg commented on #76
@dhruvkb Got it! Thank you.

[2020-09-15 03:09] sukhdeepg commented on #76
@dhruvkb I've made a pull request. Please review it.

[2020-09-17 14:45] avats-dev commented on #63
I'm thinking of using [log](https://github.com/creativecommons/ccos-scripts/blob/master/normalize_repos/log.py) and setting up a common `log.py` and `utils.py` that can be used by all the other scripts in repo. This would also refactor code and help resolving #60.

[2020-09-18 00:12] dhruvkb commented on #63
Sounds good, but you need to ensure that all the scripts can run independently of each other.

[2020-09-22 18:25] hugosolar opened #81 "Repositories script doesn't recognize license correctly"
## Description
The script that gather informations from CC repositories doesn't recognize some repo licenses
for instance:
- https://github.com/creativecommons/wp-theme-base
- https://github.com/creativecommons/wp-theme-openglam
- https://github.com/creativecommons/wp-theme-summit

## Reproduction
1. go to [Open Source project list](https://opensource.creativecommons.org/contributing-code/projects

[2020-09-22 19:55] avats-dev opened #82 "Failing workflow for pushing issues to CC open Source"
## Description

[Push issues to CC Open Source](https://github.com/creativecommons/ccos-scripts/blob/master/.github/workflows/push_issues_to_ccos.yml) workflow is failing since last 8 days (maybe more).

## Reproduction

Go [here](https://github.com/creativecommons/ccos-scripts/actions?page=8&query=workflow%3A%22Push+issues+to+CC+Open+Source%22)

## Screenshots

![Screenshot from 2020-09-23 01-23-

[2020-09-22 19:56] avats-dev commented on #81
I checked https://github.com/creativecommons/ccos-scripts/blob/master/push_data_to_ccos/get_repo_data.py and it works fine, so there must be something wrong in the process of pushing code to the [website repo](https://github.com/creativecommons/creativecommons.github.io-source). I saw that there was a similar thing in all of the discrepancies that are present on the [projects page](https://opensou

[2020-09-22 20:19] kgodey commented on #82
There's some sort of issue with the token, I need to debug it since it's my token.

[2020-09-25 02:37] dhruvkb opened #84 "Account for case differences when syncing labels"
## Description
While Python does not see the label "hacktoberfest" and "Hacktoberfest" as equal, GitHub does. So if there is a case difference, the script will try to create the label and GitHub will raise an error that it already exists.

https://github.com/creativecommons/ccos-scripts/blob/7d7ee1d332473ad34028231cf77035a23f318972/normalize_repos/models.py#L106

## Reproduction

1. Change the cas

[2020-09-25 03:16] dhruvkb opened #85 "Increase readability of label data files"
## Problem
Both `labels.json` and `skills.json` are not very readable for the following reasons:

- both are JSON files, which are not very readable for humans.
- currently the `labels.json` file uses emoji as unicode glyphs, which look like two codepoints in a string. It's not possible to identify the emojis from the text.

## Description
GitHub allows using ["colon-style markup"](https://docs.gi

[2020-09-25 03:27] JuanVqz commented on #85
Hello! Should I change the JSON file to Yaml file? I can do it if you allow me.
For emojis, should be like the following line?

emoji: ”: strawberry:”

[2020-09-25 04:31] wescran commented on #84
Hello, I am interested in taking on this task!

[2020-09-25 05:36] dhruvkb opened #86 "Automate skill label generation"
## Problem
Skill labels need to be manually set up in `skills.json`. This
- increases manual work on the part of repo maintainers to ensure that the skills listed in a different repo (this one) are up to date
- causes redundancy of information that is already present in `cc-metadata.yml` under the `technologies` key in each repo

## Description
The technologies key could be expanded to a more verb

[2020-09-25 13:03] kgodey commented on #84
go ahead @wescran

[2020-09-25 13:04] kgodey commented on #86
I think it makes sense to build the skills based on `.cc-metadata.yml` and expand the technology list there.

I wonder if we could also encode branch protection in `.cc-metadata.yml` instead of storing it here, that way all configuration related to a repo could live in that repo. That should be a separate ticket though.

[2020-09-25 14:10] dhruvkb commented on #85
Yes @JuanVqz, please change the JSON files to YAML and the emojis to their corresponding `:xyz:` representation as in this [cheat sheet](https://www.webfx.com/tools/emoji-cheat-sheet/).

[2020-09-25 14:46] #76 closed

[2020-09-25 15:45] kgodey commented on #82
I regenerated the token, which fixed this.

[2020-09-25 15:45] #82 closed

[2020-09-25 15:46] kgodey commented on #81
This was fixed by https://github.com/creativecommons/ccos-scripts/issues/82

[2020-09-25 15:46] #81 closed

[2020-09-28 05:34] tushar912 commented on #84
@wescran are u working on this. If not can i take it up?

[2020-09-28 06:18] dhruvkb commented on #84
@tushar912 please allow a 7 day buffer period of inactivity before considering an issue as inactive. In the meantime, might I suggest our [Issue Finder](https://opensource.creativecommons.org/contributing-code/issue-finder/)?

[2020-09-28 07:04] tushar912 commented on #84
Ok

[2020-09-28 07:09] tushar912 commented on #60
@dhruvkb i would like to work on this

[2020-09-28 13:14] wescran commented on #84
Hi there, I will have a `[WIP]` PR opened today!

[2020-09-29 10:29] dhruvkb commented on #63
@avats-dev some new developments in this area that might be relevant:

- [A better logs experience with GitHub Actions](https://github.blog/2020-09-23-a-better-logs-experience-with-github-actions/)

[2020-09-29 21:12] avats-dev commented on #63
Wow, that is good! thanks @dhruvkb for the update, I'll keep that in mind. :+1:

[2020-09-30 04:21] tushar912 commented on #60
I am thinking of implementing it as follows . <code>set_up_github_client</code>and<code> get_cc_organization</code> are used in a lot of files so i would create a common file utils which can be used for all the workflows .It would also contain constants like <code>GITHUB_ORGANIZATION </code>and <code>GITHUB_TOKEN</code>. Also in <code>push_data_to_ccos</code> Setting up asana could be placed at a

[2020-09-30 05:47] dhruvkb commented on #60
@tushar912 the idea of containing duplicated code in a single location is a good idea. But putting the file in a different folder might present some complications in terms of how Python resolves packages so you should check how that works.

[2020-09-30 07:14] tushar912 commented on #60
Yes

[2020-09-30 22:28] avats-dev commented on #60
yeah, relative imports could be a trouble! I tried them while fixing logging. @tushar912 if you get to know a better way, ping me back as I also need to implement this for improved logging. Thanks :+1:

[2020-10-01 08:57] tushar912 commented on #60
I think here we can use <code>sys.path.append</code> to add the path of folder to <code>sys.path</code>and then we can easily import files by their name rather than using relative imports.

[2020-10-01 18:50] avats-dev commented on #60
@tushar912 yes we can use `sys.path` but that might be a dangerous step as it changes the system path and may abrupt the script's working. That's why I haven't used it yet, and thought about relative imports. Let's see what @aldenstpage has to say.

[2020-10-02 19:37] wescran commented on #84
PR is ready for review!

[2020-10-05 15:25] #84 closed

[2020-10-06 03:18] akmadian commented on #48
I'd like to take this on

[2020-10-06 07:04] dhruvkb commented on #48
Hey @akmadian, please do. We already have two repos (that I know of) that have either `main` (`creativecommons/og-image-generator`) or `develop` (`cc-licenses-data`) as the primary branch instead of `master`. We should update the code to get the primary branch from the repo itself.

[2020-10-06 07:06] akmadian commented on #48
Sounds good! I'll start within the next couple days : )

[2020-10-06 08:30] dhruvkb commented on #48
Just in case you need some help, here is a [the relevant documentation](https://pygithub.readthedocs.io/en/latest/github_objects/Repository.html#github.Repository.Repository.default_branch).

[2020-10-07 13:11] JuanVqz commented on #85
sorry I haven't experience with python and I didn't see I need to do something with it, otherwise, I didn't take it.
  can I fix the .yml files to finish this?

[2020-10-07 13:20] dhruvkb commented on #85
Yeah okay, just make sure the JSON and YML files are in sync and I'll make the remaining Python changes.

[2020-10-23 15:34] #48 closed

[2020-11-04 14:01] nimishbongale opened #97 "Remove Hacktoberfest labels"
## Description
Now that Hacktoberfest is all done and dusted with, we can go ahead and remove the Hacktoberfest labels. We'll also have to run the necessary scripts with admin rights in order to remove labels attached with the existing Hacktoberfest issues.

I can go ahead and remove the Hacktoberfest associated labels from the `labels.json` file as suggested by @dhruvkb.

## Expectation
1. Hackto

[2020-11-07 21:27] dhruvkb commented on #97
@nimishbongale I think you should this issue as well as PR #98, based on [this comment (and it's upvotes)](https://github.com/creativecommons/ccos-scripts/pull/98#issuecomment-722478061).

[2020-11-08 15:21] nimishbongale commented on #97
Closing this issue!

[2020-11-08 15:21] #97 closed

[2020-11-17 16:36] sukhdeepg commented on #63
@dhruvkb would [colorlog](https://github.com/borntyping/python-colorlog) be a good idea for this?

[2020-11-17 16:39] dhruvkb commented on #63
@sukhdeepg it might be, it's hard to say without a demo. GitHub Actions now also supports colors for error and warning formatting so that might be a simpler and more native solution.

[2020-11-18 15:52] sukhdeepg commented on #63
@dhruvkb understood :+1:

[2020-11-26 13:23] rajdesai24 commented on #63
I am taking this @dhruvkb

[2020-11-27 21:07] rajdesai24 commented on #63
@dhruvkb  are we using PyGithub?

[2020-11-27 22:48] rajdesai24 commented on #63
@dhruvkb I have finished up the logging part for push_data_to_ccos and I guess we can have a demo for that if all goes well we can implement it in all other places.

[2020-11-28 10:46] dhruvkb commented on #63
@rajdesai24 please create a PR so that we can review it.

[2020-11-29 14:10] dhruvkb opened #105 "TypeError: Item in __all__ must be str, not function"
## Description
Many Python files in the repo use the `__all__` array to limit exported objects. Every item in the list should be a string containing the names of the exported variables.

Currently the variable contains the variables themselves instead of their names, like this.
[code]
Instead the correct way which would be this.
[code]

## Reproduction

1. Try wildcard importing from any such file

[2020-11-29 22:26] #85 closed

[2020-12-03 12:49] rajdesai24 commented on #63
@dhruvkb I have made a pull request for the issue, please review it and let me know if there is some blocker.

[2020-12-04 22:39] rajdesai24 opened #110 "Import Error for log.py"
Module log.py is directly imported from normalize_repos module in normalize_repos.py which causes an import error while running the script.
<img width="1224" alt="Screenshot 2020-12-05 at 4 03 42 AM" src="https://user-images.githubusercontent.com/53701807/101222276-741a7600-36af-11eb-9a90-408fc9758e1c.png">

<img width="1224" alt="Screenshot 2020-12-05 at 4 10 25 AM" src="https://user-images.githu

[2020-12-05 13:41] dhruvkb commented on #110
@rajdesai24 this is not an error as when the scripts are executed, the `normalize_repos/` directory is treated as the working directory.
https://github.com/creativecommons/ccos-scripts/blob/75e141a83d4096aec42d3391c036523520c65456/.github/workflows/normalize_repos.yml#L22

You can get rid of the error/warning by configuring your IDE (which appears to be PyCharm) to treat the directory as "Sources

[2020-12-05 13:43] dhruvkb commented on #110
@rajdesai24 please update the issue if the above solution works for you.

[2020-12-06 08:49] rajdesai24 commented on #110
I'll try this and let you know asap

[2020-12-07 04:13] dhruvkb opened #112 "Use GitHub Workflow commands for better logs"
## Problem
Our logger uses explicit ANSI color coding for log states like success, warning and error but does not use the GitHub notation making the (extremely verbose) logs less navigable and harder to review when debugging.

## Description
GitHub Workflows have some special notations for different outputs that lead to different presentation of those outputs in the UI. They are documented in the

[2020-12-07 20:25] #110 closed

[2020-12-08 17:23] shubhanshu02 commented on #105
Hi @dhruvkb! Can I help to solve this issue?

[2020-12-09 18:19] #105 closed

[2020-12-10 11:01] rajdesai24 commented on #63
@dhruvkb I'll be creating a new pr with the resolved issues and proper logging everywhere please review it and do the necessary

[2020-12-12 08:23] shubhanshu02 commented on #112
Hi @dhruvkb! I want to work on this issue.
I tried searching for the logging module and found that the `IndentFormatter` class in `normalize_repos/log.py` has the colour coding for the logs. Is this the module we want to edit in this issue?

[2020-12-12 08:27] dhruvkb commented on #112
Yes @shubhanshu02, that's the module.

[2020-12-14 13:24] shubhanshu02 commented on #112
@dhruvkb, the workflow commands are working fine as per the below format, but the `** **`, used to make the function name bold, is not working as expected (I think markdown isn't used in this case). What should I do now?
`::levelname:: time  | indent function(bold) |  messages`

The following is the output as per GitHub Actions on manual trigger in my fork.
![image](https://user-images.githubuserc

[2021-01-14 18:08] #112 closed

[2021-01-15 14:53] Cronus1007 commented on #86
@dhruvkb Shall i implement this one.

[2021-01-16 14:11] dhruvkb commented on #86
Yeah @Cronus1007, please do! But let's start with a plan on how the `.cc-metadata.yml` file will look like before starting development.

[2021-01-19 04:05] Cronus1007 commented on #86
@dhruvkb Here what I am planning that first of all let us make a request on `https://raw.githubusercontent.com/creativecommons/` and then get all the pinned repositories. Then we can proceed to get the first three most prioritized technologies of the pinned repos.

[2021-01-21 03:47] dhruvkb commented on #86
The skill label generation has to work on all CC repositories, not just the first one. Also why just the first three technologies and not all of them?

Another important consideration is regarding language and framework/library. For example, someone who is quite familiar with JavaScript might still experience some problems if the issue is very Vue-oriented... so the frameworks have to be factored

[2021-01-22 09:20] dravadhis commented on #63
@rajdesai24 are you working on this? If not can I take this up?

[2021-01-23 03:11] Cronus1007 commented on #86
@dhruvkb  Let me a build a seperate folder for this and initialize this project by eod or should I build  a local repo.

[2021-01-23 13:19] rajdesai24 commented on #63
Yes, it's done my pr is left for review but you can still talk to dhruvkb he'll guide you the best

[2021-01-23 16:27] dravadhis commented on #63
No worries. I'll look for some other issues.

[2021-01-24 20:22] Cronus1007 commented on #86
Any opinoin regarding this?

[2021-01-25 06:32] dhruvkb commented on #86
@Cronus1007 you can create a test organisation on GitHub and use your own personal access token to test your scripts on it.

[2021-01-25 19:26] Cronus1007 commented on #86
@dhruvkb Since I am much comfortable with javascript so shall I make a node app rather than django app.

[2021-01-25 20:36] Cronus1007 commented on #86
I have made a test repo depicting the behaviour .

[2021-01-27 18:27] Cronus1007 commented on #86
@dhruvkb I am able to write `skills.json` but due to some reason the api call is just restricted to first 30 repos of the `cc` organization.
![Screenshot from 2021-01-27 23-55-26](https://user-images.githubusercontent.com/56436023/106036497-6c011480-60fb-11eb-8d1b-2b6ddaa47a26.png)

[2021-01-28 05:28] dhruvkb commented on #86
The package you are using for the API call might be paginated. Please open a draft PR so that we can take a closer look at your code.

[2021-02-01 21:33] zackkrida commented on #86
@dhruvkb @Cronus1007

Because this repository is already written in Python, I don't think I'm going to approve any code written in JavaScript. Having 90% of the codebase written in Python and a single script written in JavaScript creates additional maintenance burden and complexity in the repository.

@Cronus1007 if you'd like to attempt to work on this in Python, I'm sure our community on GitHub

[2021-02-01 21:45] Cronus1007 commented on #86
@zackkrida I agree with this part but in my #122 PR it is just a roght idea of the approach. But while merging I will make the transition from `js` to `python`.

[2021-02-01 22:40] zackkrida opened #123 "Documentation: Recommendations for automation authorship"
## Problem

For various ethical and technical reasons, we should establish best practices when writing scripts that automate code actions:

- Committing to repositories
- Replying to issues and pull requests
- Automatically closing pull requests

We have a @cc-open-source-bot account that should be used as the author for all actions, workflows, and scripts. A few reasons to do this:

- We don't ne

[2021-02-01 23:07] #123 closed

[2021-02-11 13:17] rajdesai24 commented on #63
@dhruvkb I will be opening a new PR with the same changes as my last PR got closed as it was a little off track with the repo as guided by @TimidRobot. Should I go ahead and make a new one?

[2021-02-11 18:36] Cronus1007 commented on #86
@zackkrida  @dhruvkb I am done with the #122 PR to automate the process and generating the required `skills.json`  via `python` mainly and even left few comments upon the PR.

[2021-02-21 04:42] Cronus1007 commented on #63
@rajdesai24 You can go ahead.

[2021-02-26 19:13] rajdesai24 commented on #63
Created new PR

[2021-03-05 17:27] Cronus1007 opened #126 "Update Tooling of the packages"
## Problem
The Python packages of the repository have older versions of black in `Pipfile` which makes various packages of the repositories.It can be a better approach to optimise these configurations by
- Following the Python Community Guidelines (Also see [Python Guidelines — Creative Commons Open Source](https://opensource.creativecommons.org/contributing-code/python-guidelines/) about adding B

[2021-03-13 06:04] #126 closed

[2022-04-12 17:24] #60 closed

[2022-04-12 17:27] #63 closed